.App form {
  width: 400px;
  margin: 80px auto;
}
.form-control-group {
  
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form-control-group label {
  margin-bottom: 5px;
}
h1{
  border-radius: 5px;
  margin: 40px auto;
  width: 400px;
  background-color: goldenrod;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
button{
  margin:auto;
  width: 100px;
  margin-bottom: 10px;
}
p{
  font-weight: 600;
  text-align: center;
  background-color: goldenrod;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
} 
  
  
  
  




 
